In [4]:
import pandas as pd
import numpy as np
import math

In [5]:
# 1. What is the influence of the actors on US baby names?
# 2. Is there a correlation between Presidential approval rating and Presidental baby names?
# 3.

In [6]:
f1 = pd.read_csv('data/stateNames1.csv')
f2 = pd.read_csv('data/stateNames2.csv')
frames = [f1,f2]
allStates = pd.concat(frames)

In [7]:
presAppr = pd.read_csv('data/presApproval.csv')

In [8]:
pd.unique(presAppr['President'])

array(['Barack Obama', 'George W. Bush', 'William J. Clinton',
       'George Bush', 'Ronald Reagan', 'Jimmy Carter', 'Gerald R. Ford',
       'Richard Nixon', 'Lyndon B. Johnson', 'John F. Kennedy',
       'Dwight D. Eisenhower', 'Harry S. Truman', 'Franklin D. Roosevelt'], dtype=object)

In [16]:
pres =  {'Name' : ['Barack','George','Bill','George','Ronald','Jimmy','Gerald','Richard','Lyndon','John','Dwight','Harry','Franklin'],
         'LName': ['Obama', 'Bush', 'Clinton','Bush','Reagan','Carter','Ford','Nixon','Johnson','Kennedy','Eisenhower','Truman','Roosevelt'],
         'StartYear' : [2009,2001,1993,1989,1981,1977,1974,1969,1963,1961,1953,1945,1933],
         'EndYear' : [2015,2009,2001,1993,1989,1981,1977,1974,1969,1963,1961,1953,1945]
}

names = pd.DataFrame(pres)

In [10]:
sum(allStates['Count'][(allStates['Year']==2010)])
allStates[(allStates['Name']=='Barack')]
sum(allStates['Count'][(allStates['Year']==2000)])

3296850

In [17]:
def nameCounter():
    
    # define empty lists
    fnames = []
    lnames = []
    counts = []
    lcounts = []
    totals = []
    years = []
    
    # loop through the names dictionary
    for index, row in names.iterrows():
        
        # loop through each year of each individual's Presidency
        for year in range(row['StartYear']-1,row['EndYear']+1):
            
            # create a subset data frame for the particular year you are on
            y = allStates[(allStates['Year']==year)] 
            
            # count the occurence of names
            count = ((sum(y['Count'][y['Name']==row['Name']])))   # first name
            lcount = ((sum(y['Count'][y['Name']==row['LName']]))) # last name
            total = ((sum(y['Count'])))                           # total names
            
            # add items to lists above
            fnames.append(row['Name'])
            lnames.append(row['LName'])
            counts.append(count)
            lcounts.append(lcount)
            totals.append(total)
            years.append(year)
            
        # create a data frame    
        final = pd.DataFrame({'f_name': fnames,'l_name': lnames,'f_count': counts,'l_count':lcounts,'total':totals,'year':years})
    return final

In [18]:
nameCounter()

     f_count    f_name  l_count      l_name    total  year
0         21    Barack        0       Obama  3340318  2008
1         27    Barack        0       Obama  3232116  2009
2          0    Barack        0       Obama  3116548  2010
3          0    Barack        0       Obama  3079145  2011
4          0    Barack        0       Obama  3073858  2012
5          0    Barack        0       Obama  3066443  2013
6          0    Barack        0       Obama  3113611  2014
7          0    Barack        0       Obama        0  2015
8       3024    George        0        Bush  3296850  2000
9       3077    George        0        Bush  3250984  2001
10      3006    George        0        Bush  3238053  2002
11      2905    George        0        Bush  3288978  2003
12      2733    George        0        Bush  3293984  2004
13      2810    George        0        Bush  3305315  2005
14      2692    George        0        Bush  3387737  2006
15      2749    George        0        Bush  3412417  2007
16      2541    George        0        Bush  3340318  2008
17      2367    George        0        Bush  3232116  2009
18        80      Bill     1454     Clinton  3442170  1992
19        86      Bill      816     Clinton  3363860  1993
20        61      Bill      551     Clinton  3307185  1994
21        59      Bill      444     Clinton  3249146  1995
22        57      Bill      355     Clinton  3224919  1996
23        66      Bill      385     Clinton  3193018  1997
24        47      Bill      262     Clinton  3229407  1998
25        50      Bill      212     Clinton  3233110  1999
26        73      Bill      254     Clinton  3296850  2000
27        60      Bill      200     Clinton  3250984  2001
28      4283    George        0        Bush  3340519  1988
29      4510    George        0        Bush  3475179  1989
..       ...       ...      ...         ...      ...   ...
78      2346    Dwight        0  Eisenhower  3926008  1956
79      2017    Dwight        0  Eisenhower  4002231  1957
80      1681    Dwight        0  Eisenhower  3933693  1958
81      1577    Dwight        0  Eisenhower  3955363  1959
82      1708    Dwight        0  Eisenhower  3948284  1960
83      1650    Dwight        0  Eisenhower  3929909  1961
84      5478     Harry      147      Truman  2537120  1944
85      5648     Harry      505      Truman  2501963  1945
86      6028     Harry      238      Truman  3032350  1946
87      6508     Harry      165      Truman  3427532  1947
88      5945     Harry      125      Truman  3280438  1948
89      5538     Harry      123      Truman  3312353  1949
90      5373     Harry       65      Truman  3330666  1950
91      5299     Harry       43      Truman  3504403  1951
92      4991     Harry       32      Truman  3617370  1952
93      4567     Harry       21      Truman  3665807  1953
94      2756  Franklin      816   Roosevelt  1964421  1932
95      5355  Franklin     1187   Roosevelt  1857674  1933
96      4144  Franklin      985   Roosevelt  1933466  1934
97      2601  Franklin      736   Roosevelt  1946981  1935
98      2933  Franklin      716   Roosevelt  1936249  1936
99      2509  Franklin      652   Roosevelt  1986759  1937
100     1994  Franklin      631   Roosevelt  2068294  1938
101     1829  Franklin      567   Roosevelt  2059878  1939
102     2375  Franklin      608   Roosevelt  2157632  1940
103     2189  Franklin      627   Roosevelt  2288235  1941
104     2347  Franklin      581   Roosevelt  2576573  1942
105     1959  Franklin      592   Roosevelt  2664927  1943
106     1798  Franklin      541   Roosevelt  2537120  1944
107     1874  Franklin      539   Roosevelt  2501963  1945

[108 rows x 6 columns]